<!DOCTYPE html>
<html>
<head>
    <title>Welcome Email</title>
</head>
<body class="body">
    <h1>Reestablece tu contraseña</h1>
    <div class="flex">
    <span class="info">Accede a este <a href={{ link }}> link</a> para reestablecer tu contraseña. Es valido por una hora</span>
    <span class="warning">Si no intentaste recuperar tu contraseña, por favor desestima este mensaje</span>
    </div>
</body>
</html>


<style>

    .body {
        
        
    }
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        
        height: 70vh;
    }
    .info {
        font-size: 1.3em;
    }
    .warning {
        font-size: 0.9em;
        text-decoration: underline;
    }
</style>
